*.pyc
project-euler/.tidyall.d
project-euler/10/c_mine_half
project-euler/127/rad-cache.txt
project-euler/141/141-2-debug.exe
project-euler/141/141-2.exe
project-euler/141/141.exe
project-euler/141/factors.txt
project-euler/145/euler145
project-euler/145/euler145-debug
project-euler/148/dump.txt
project-euler/153/euler_153
project-euler/165/euler_165
project-euler/165/euler_165.hi
project-euler/165/euler_165.o
project-euler/209/connectivity.png
project-euler/238/input.txt
project-euler/258/*.exe
project-euler/258/CACHE/*.bin
project-euler/423/423.exe
project-euler/423/DUMPS/*.bin
project-euler/423/primes.txt
project-euler/455/RESULTS/*.result
project-euler/466/_Inline
project-euler/75/euler-75
project-euler/cmake/Shlomif_Common.cmake
